
/* general settings */
* {
    box-sizing: border-box;
  }
  /* body */
  body {
    position: relative;
    margin: 0;
    max-width: fit-content;
    max-height: 1024px;
   }

  .img  {
    width: inherit;
    height: inherit;
  }
  /* header */
  .header {
    background-image: url(images/istockphoto-501622842-1024x1024.jpg);
    color: rgb(189, 155, 21);
    text-align: center;
    height: 100%;
    padding: 15px;
    background-size: cover;
  }
  /* footer */
  .footer {
    display: block;
    background-color: rgb(19, 106, 101);
    color: white;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    
  }
  /* footer hover */
  .footer:hover {
    background-color: rgb(248, 33, 9);
    transition: 1.5s;

  }
  /* tapnav */
.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(43, 151, 144, 0.6);
  }
  
  .topnav li {
    float: left;
  }
  
  .topnav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  .topnav li a:hover {
    background-color: rgba(46, 122, 74, 0.8)
  }
  
  .topnav li a.active {
    color: white;
    background-color: #4CAF50;
  }

  /* leftcolumn */
  .leftcolumn {
    float: left;
    padding: 10px;
  }
  /* clear */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* main part */
  .content {
    width: 70%;
    height: 50%;
    
  }
  /* vertical header */
  .vheader {
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: whitesmoke;
    background-color: rgb(189, 123, 187);
  }
  
  /* leftsidenav  */
  .leftsidenav {
    width: 20%;
    height: 1024px;
    overflow: auto;

  }
  
  .leftsidenav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: coral;

    
  }
  
  .leftsidenav li a {
    margin-bottom: 4px;
    display: block;
    padding: 8px;
    background-color: #eee;
    text-decoration: none;
    color: #666;
    text-align: right;
  } 
  
  .leftsidenav li a:hover {
    background-color: #555;
    color: white;

  }
  
  .leftsidenav li a.active {
    background-color: #008CBA;
    color: white;
  }

 
  /* table */
  .h2k {
    background-color: rgb(214, 28, 118); margin-bottom:0;
    padding-left: 20px;
  }
  .h2e {
    background-color: rgb(54, 55, 132); margin-bottom:0;
    padding-left: 20px;
  }
  table {
    overflow: hidden;
    border: 2px solid black;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin: 0 20px 20px 20px;  
  }
  
  td, th {
    border: 2px solid black;
    padding: 10px;
    position: relative;
    outline: 0;
  }
  /* table horizontal hover */
  body:not(.nohover) tbody tr:hover {
    background-color: rgb(211, 149, 35);
  }
  /* table vertical hover */
  td:hover::after,
  thead th:not(:empty):hover::after,
  td:focus::after,
  thead th:not(:empty):focus::after { 
    content: '';  
    height: 10000px;
    left: 0;
    position: absolute;  
    top: -5000px;
    width: 100%;
    z-index: -1;
  }
  
  td:hover::after,
  th:hover::after {
    background-color: rgb(35, 132, 125);
  }

  /* go to top button */
  
  .gtbtn{
    float: right;
    position: relative;
    bottom: 28px;      
    margin-right: 10px; 
    width: 50px;
    height: auto;
    text-decoration: none;
    background-color: rgb(73, 25, 174);
    color: white;
    font-size: 12px;
  }
